.mainContainer {
  margin: 80px auto;
  display: flex;
  max-width: 1080px;
  gap: 24px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  display: flex;
  flex-direction: column;
}

.input__range {}

.input__text {
  padding: 8px 16px;
}

.fonts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resultContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {}